*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*//////////////////////////////////////////////////////////////*/
html, body {
    height: 100%;
}

.img-header{
    width: 3rem;
}

.navbar-brand {
    font-size: 1.3em !important;
}

ul li a:hover{
    color: #d97c2b !important;
    font-weight: bold;
}

#text-bienvenida {
    grid-area: bienvenida;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
    text-align: start;
    color: #0D0D0D;
    font-size: 1.5em;
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: italic;
 
}

main {
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-columns: 100%;
    grid-template-rows:  10% 90%;
    grid-template-areas: "bienvenida"
                         "info";
}

#home-eye-icon {
    display: inline-block;
    font-size: 1em;
    padding-left: 5px;
    cursor: pointer;
}
#CBU {    
    display: inline-block;
    margin-bottom: 2px;
}

#home-copy-CBU {
    display: inline-block;
    cursor: pointer;
    width: 1em;
    margin-left: 5px;
}

#home-copy-CBU:active {
    width: 1.2em;
}

#CBU-copiado {
    position: relative;
    background-clip: content-box;
    left: 75%;
    border-radius: 5px;
    font-size: 0.7em;
    visibility: hidden;
}
 
#saldo {
    visibility: hidden;
}

#info {
    grid-area: info;
    justify-content: center;
    align-content: center;
    height: 100%;
}

#footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 30px;
    color: white;
    background-color:#0D0D0D;
}

#footer p{
    font-size:.7rem;
    padding-top:.5rem;
}

.naranja{
    color: #d97c2b;
}

#info span {
    font-weight: bold;
}

#cuenta_datos, #cuenta_tarjeta {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 300px;
    height: 160px;
    max-width: 300px;
    max-height: 160px;
    border-radius: 10px;    
    font-family: "Graduate", serif;
    font-weight: 400;
}

#cuenta_datos {    
    grid-area: cuenta_datos;
    font-size: 1em;
    background-color:  #d97c2b;
}

#cuenta_tarjeta {    
    grid-area: cuenta_tarjeta;
    font-size: 0.9em;
    background-color: #BF2604;
}

#logo_tarjeta {
    width: 15%;
}

#cuenta_tarjeta figure p {
    margin: 0;
}

#cuenta_tarjeta p {
    margin-bottom: 2px;
}

#cuenta_tarjeta figcaption {
    font-size: smaller;
}

#numero_tarjeta {
    word-spacing: 20px;
    -webkit-text-security: disc;
}

#cuenta_movimientos {
    width: 100%;
    /* max-width: 750px; */
    grid-area: cuenta_movimientos;
}

#cuenta_movimientos table {
    font-size: 0.8em;
    display: flex;
    flex-flow: column;
    width: 100%;
    max-height: 160px;
    border-collapse: separate;
    border-spacing: 0 3px;
}
#cuenta_movimientos table td {
    padding-left: 2%;
    padding-right: 2%;
    height: 50px;
    font-family: "Graduate", serif;
}


#cuenta_movimientos table tr {
    height: 50px;
}

#cuenta_movimientos table .fecha, #cuenta_movimientos table .tipo {
    width: 10%;
}
#cuenta_movimientos table .concepto {
    width: 50%;
}
#cuenta_movimientos table .importe{
    width: 30%;
    padding-right: 20px;
}

#cuenta_movimientos table tr:nth-child(even) {
    background-color:  lightgray !important
}

#cuenta_movimientos table tr:nth-child(odd) {
    background-color: rgba(255,255,255,0.8);
}

#cuenta_movimientos table thead tr {
    background-color: #d97c2b !important;    
}
  
#cuenta_movimientos table tbody {
    display: block;
    overflow-y: auto;
}
  
#cuenta_movimientos table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
}

#cuenta_movimientos .accordion-item {
    min-width: 350px;    
}

.accordion {
    --bs-accordion-border-radius: 30px !important;
    --bs-accordion-inner-border-radius: 30px !important;
}

#cuenta_movimientos .accordion-button:focus {
    --bs-accordion-btn-focus-box-shadow:none;
    background-color: #d97c2b;
    color: white;
}

#cuenta_movimientos .accordion-button:not(collapsed) {
    background-color: #d97c2b;
    color: white;
}

#info {
    display: grid;
    justify-items: center;
    align-content: start;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 30% 70%;
    grid-gap: 10px;
    grid-template-areas: ". cuenta_datos cuenta_tarjeta ."
                         ". cuenta_movimientos cuenta_movimientos .";
}

#desdeDate {
    grid-area: desdeDate;
}

#hastaDate {
    grid-area: hastaDate;
}

#buscarMovButton {
    grid-area: buscarMovButton;
}

#movHistoricos {
    width: 60%;
    display: grid;
    grid-template-columns: 37.5% 37.5% 25%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "desdeDate hastaDate buscarMovButton"
                          "h6 h6 h6";
    justify-items: center;
    align-items: end;
}

#movHistoricos h6 {
    grid-area: h6;
    margin: 0;
    width: 100%;
}

#desdeDate input, #hastaDate input {
    display: block;    
    width: 90%;
    border: 2px solid #d97c2b;
    border-radius: 10px;
    padding: 5px;
}

#buscarMovButton {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #BF2604;
    color: white;
}

#buscarMovButton:active {
    transform: scale(1.2);
}

@media screen and (max-width: 992px) {
    #info {
        display: grid;
        justify-items: start;
        align-content: start;
        grid-template-columns: 5% 45% 45% 5%;
        grid-gap: 5px;
        grid-template-areas: ". cuenta_datos  cuenta_tarjeta ."
                             ". cuenta_movimientos cuenta_movimientos .";
    }
    #cuenta_datos, #cuenta_tarjeta {
        margin: 0;
        padding: 0;
        padding-left: 10px;
        width: 250px;
        height: 140px;        
        font-size: 0.72em;
    }
    #movHistoricos {
        width: 75%;
    }
}

@media screen and (max-width: 576px) {
    #desdeDate, #hastaDate {
        font-size: 0.75em;
    }
    #buscarMovButton {
        width: 70px;
        font-size: 0.75em;
    }
    .accordion-body table td {
        font-size: 0.7em;
    }
    #info {
        display: grid;
        justify-items: center;
        align-content: start;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 25% 25% 50%;
        grid-gap: 5px;
        grid-template-areas: ". cuenta_datos."
                             ". cuenta_tarjeta ." 
                             ". cuenta_movimientos .";
    }
    #cuenta_movimientos table {
        font-size: 0.7em;
    }
    #cuenta_datos, #cuenta_tarjeta {
        margin: 0;
        padding: 0;
        padding-left: 10px;
        width: 250px;
        height: 140px;        
        font-size: 0.72em;
    }
    #movHistoricos {
        width: 100%;
    }
}

@media screen and (max-height: 650px) {
    #body {
        height: 650px;
        overflow-y: scroll;
    }
}

h1 {
    color: white;
    text-align: center;
}


/*///////////*/

/*////////////////////////////////////////////////////////////*