*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

body{
    min-width: 360px;
    min-height:100vh;
}

#perfil-vista a {
    color:white !important;
}

#perfil-vista ul li a:hover{
    color: #d97c2b !important;
    font-weight: bold;
}

.img-header{
    width: 3rem;
}

.navbar-brand {
    font-size: 1.3em !important;
}

#img-perfil{
    width:6rem;
    filter: grayscale(100%);
}

.datos-usuario{
    width:80%;
}

.datos-usuario ul li .btn-link{
    text-decoration: none;
    color: white;
    background-color: #d97c2b;
}

.datos-usuario ul li .btn-link:hover{
    text-decoration: none;
    color: #d97c2b;
    background-color:white;
    font-weight: bold;
    border: 3px solid #d97c2b;
}

#footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 30px;
    color: white;
    background-color:#0D0D0D;
}

#footer p{
    font-size:.7rem;
    padding-top:.5rem;
}

.naranja{
    color: #d97c2b;
}


@media (max-width:539px) {

    #perfil-vista{ 
        max-width: 100%;
    }    
}

@media (min-width:540px) {
    #perfil-vista{ 
        max-width:80%;
    }    
}