*{
    margin: 0;  
    box-sizing: border-box;
}

.text-orange{
    color: #b5320f;
}
.custom-hover-bottom:hover {
    background-color: #b5320f; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.custom-hover-bottom:hover svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(103%) contrast(103%); 
}

.custom-hover-bottom:hover h5,
.custom-hover-bottom:hover p {
    color: white; 
}
.custom-hover-middle:hover {
    background-color: #b5320f; 

}

.custom-hover-middle:hover svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(103%) contrast(103%); 
}

.custom-hover-middle:hover h5,
.custom-hover-middle:hover p {
    color: white;
}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}